* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.box {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-top: 80px;
}
.boxOne {
  height: 700px;
  width: 50%;
  border: 5px solid blue;
  padding: 0 100px;
}

.boxTwo {
  height: 700px;
  width: 50%;
  border: 5px solid red;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
}

.formContent {
  display: flex;
  flex-direction: column;
  align-items: space;
  height: 100%;
  justify-content: space-around;
}

/* Contact */
.contactText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-bottom: 10px;
}

.login {
  color: rgb(15, 146, 15);
  cursor: pointer;
  padding-left: 5px;
}
.emailOrMobile {
  width: 100%;
  height: 40px;
  padding-left: 10px;
}
.newsletter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 10px;
}
.shippingAddress {
  display: flex;
  flex-direction: column;
}
.name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 7px;
  padding-top: 10px;
}
.firstName {
  width: 49%;
  height: 40px;
  padding-left: 10px;
}
.secondName {
  width: 49%;
  padding-left: 10px;
}

.addressDiv {
  padding-bottom: 7px;
}
.address {
  height: 40px;
  width: 100%;
  padding-left: 10px;
}
.shippingDiv {
  padding-bottom: 7px;
}
.shipping {
  height: 40px;
  width: 100%;
  padding-left: 10px;
}

.cityPostal {
  padding-bottom: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.city {
  height: 40px;
  padding-left: 10px;
  width: 30%;
}
.postal {
  height: 40px;
  padding-left: 10px;
  width: 30%;
}
.province {
  height: 40px;
  padding-left: 10px;
  width: 30%;
}
.country {
  height: 40px;
  padding-left: 10px;
  width: 100%;
}
.save {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
}
.lastSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.lastSection h2 {
  font-size: 20px;
}

.lastSection h1 {
  cursor: pointer;
  color: white;
  font-size: 25px;
  background-color: rgb(69, 182, 69);
  padding: 10px 30px;
  border-radius: 5px;
}
.boxTwoUpper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.boxTwoUpper h2 {
  font-size: 18px;
  padding-bottom: 25px;
}

.boxTwoUpper span {
  font-size: 23px;
  color: rgb(31, 160, 31);
}

.coupon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.couponInput {
  height: 40px;
  padding-left: 10px;
  width: 70%;
}
.coupon h2 {
  background: rgb(166, 163, 163);
  color: white;
  font-size: 23px;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}
.subtotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.subtotal p {
  color: rgb(105, 102, 102);
}
.boxTwoShipping {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
}
.boxTwoShipping p {
  color: rgb(105, 102, 102);
}
.boxTwoShipping span {
  color: rgb(105, 102, 102);
}
.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.total p {
  color: rgb(105, 102, 102);
}

.total h3 {
  font-size: 28px;
}
.horizontalLine {
  width: 100%;
  height: 1.5px;
  background-color: rgb(231, 221, 221);
}

footer {
  background-color: rgb(37, 33, 33);
  height: 300px;
  display: flex;
  flex-direction: row;
}

.footerLeft {
  border: 3px solid green;
  height: 300px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon {
  padding-right: 20px;
}
.footerLeft h1 {
  color: white;
}
.footerLeft p {
  padding-top: 15px;
  color: white;
}
.footerRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 3px solid yellow;
  width: 50%;
}
.footerRightLeft {
  border: 3px solid cyan;
  width: 25%;
}
.footerRightMiddle {
  border: 3px solid purple;
  width: 25%;
}
.footerRightRight {
  border: 3px solid lawngreen;
  width: 35%;
}
.footerRight p {
  padding-bottom: 20px;
}
.footerRight p a {
  font-size: 20px;
  color: white;
  padding-bottom: 25px;
  cursor: pointer;
  text-decoration: none;
}
.footerRight p a:hover {
  color: rgb(18, 189, 18);
}

@media (max-width: 481px) {
  .boxOne {
    padding: 0 20px;
  }
  .boxTwo {
    padding: 0 20px;
  }
}
@media (max-width: 1070px) {
  .box {
    flex-direction: column;
  }
  .boxOne {
    width: 100%;
  }
  .boxTwo {
    width: 100%;
    justify-content: center;
    height: 550px;
  }
}
@media (max-width: 1175px) {
  .save p {
    font-size: 13px;
  }
}
@media (max-width: 530px) {
  .save p {
    font-size: 10px;
  }
  .cityPostal {
    flex-direction: column;
  }
  .city {
    width: 100%;
  }
  .postal {
    width: 100%;
  }
  .province {
    width: 100%;
  }
}
@media (max-width: 545px) {
  .contactText {
    font-size: 13px;
  }
}
@media (max-width: 596px) {
  .newsletter {
    font-size: 11px;
  }
}
@media (max-width: 590px) {
  .lastSection {
    flex-direction: column;
  }
}
@media (max-width: 1150px) and (min-width: 1070px) {
  .lastSection {
    flex-direction: column;
  }
}
@media (max-width: 680px) {
  .couponInput {
    width: 50%;
  }
  .coupon h2 {
    font-size: 18px;
  }
}
@media (max-width: 1200px) and (min-width: 600px) {
  footer {
    flex-direction: column;
    height: 400px;
  }
  .footerLeft {
    width: 100%;
  }
  .footerRight {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 599px) {
  footer {
    height: 900px;
    flex-direction: column;
  }
  .footerRight {
    flex-direction: column;
    width: 100%;
  }
  .footerLeft {
    width: 100%;
  }
  .footerRightMiddle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footerRightLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footerRightRight {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1330px) {
  .couponInput {
    width: 58%;
  }
}
nav {
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

nav ul {
  display: flex;
  flex-direction: row;
}
nav ul li {
  list-style: none;
  padding: 30px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
